$body-font-family: Roboto;
$heading-font-family: Roboto;

.v-application {
    .display-1,
    .display-2,
    .display-3,
    .display-4,
    .headline,
    .title,
    .subtitle-1,
    .subtitle-2,
    .body-1,
    .body-2,
    .caption,
    .overline,
    .v-card {
      font-family: $body-font-family !important;
    }
  }
